    :root {
    --color1: #FFFFFF;
    /* --color2: #66E7F3;
    --color2-hover:#98f0f8; */
    --color2: #F4B422;
    --color2-hover:#fdc347;
    --color3: #030337;
    --color4: #5b62f1;
    --color4-hover: #5b62f1;
    --main-background-color: #242424;
    --main-text-color: rgba(255, 255, 255, 0.87);

    /* Color base de las balas */
    --swiper-bullet-bg: rgb(255, 255, 255, 0.2);
    /* Color de las balas al pasar el mouse */
    --swiper-bullet-hover-bg: rgba(255, 255, 255, 0.4);
}

@font-face {
    font-family: 'Title1';
    src: url('../assets/fonts/Quantico-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Title2';
    src: url('../assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'firma';
    src: url('../assets/fonts/QwitcherGrypen-Regular.ttf');
}

@font-face {
    font-family: 'P--Profile';
    src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'titulo--programador';
    src: url('../assets/fonts/RobotoMono-Medium.ttf');
}

@font-face {
    font-family: 'titulo--campers';
    src: url('../assets/fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'titulo--exitosos';
    src: url('../assets/fonts/Westway W00 Westbound.ttf');
}

@font-face {
    font-family: 'titulo--campersexitosos';
    src: url('../assets/fonts/Bank Gothic Medium.ttf');
}

@font-face {
    font-family: 'monaSans-bold';
    src: url('../assets//fonts/MonaSans/Mona-Sans-Bold.ttf');
}

@font-face {
    font-family: 'monaSans-semiBold';
    src: url('../assets//fonts/MonaSans/Mona-Sans-SemiBold.ttf');
}

@font-face {
    font-family: 'monaSans-medium';
    src: url('../assets//fonts/MonaSans/Mona-Sans-Medium.ttf');
}